<div class="row">
  <div class="col-md-12 report-header">
      <div class="row">
        <div class="col-md-10 header"><h4>Reports</h4></div>
          <div class="col-md-2 drop-h-30">
            <select :value="id"  class="reportitem-to-show">
                <option>--Select Client---</option>
                <option>Client 1</option>
                <option>Client 2</option>
            </select>
          </div>
    </div>
  </div>
    <div class="col-md-12 report-layout-area">
      <router-outlet></router-outlet>
    </div>
   
</div>


